/*Rose Morris*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
footer { background: #EAEAEA;}
#plan{
	background: #F6D64A;
}
:root{
		font-size: 16px;
		--fonts: Montserrat, sans-serif;
		--title-fonts: 'Molle', cursive;
		--yellow: #F6D64A;
		--teal: #55BCD5;
		--purple: #9B26B0;
		--blue: #499BD2;
		--dark-gray: #222222;
		--light-gray: #EAEAEA;
		--white: #FFFFFF;
		--black: #000000;
}
header{
	grid-column:auto;
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-column:1/4;
}
header nav{
	padding: 0;
	grid-area: menu;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	margin: 0;
	position: relative;
 }
/* [ON BIG SCREEN] */
/* (A) WRAPPER */
#hamnav {
	width: 40%;
	background: #F6D64A;
  }
  
  /* (B) HORIZONTAL MENU ITEMS */
  #hamitems { display: flex; }
  #hamitems a {
	flex-grow: 1;
	flex-basis: 0;
	padding: 10px;
	color: white;
	text-decoration: none;
	text-align: center;
  }
  #hamitems a:hover { background: #af0d0d; }
  
  /* (C) HIDE HAMBURGER */
  #hamnav label, #hamburger { display: none; }
 header{
    background: linear-gradient( var(--teal), var(--white));
    color: #000000;
    margin: 0 auto;
    padding: 2rem;
    align-items: center;
    display: grid;
    align-items: center;
    grid-gap: 10px;
    grid-template-columns:1fr 1fr;
    grid-template-areas: 'logo menu'
                         'h1 h1'
                         'header header';
}
header p{
	grid-row:3;
}
/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
	/* (A) BREAK INTO VERTICAL MENU */
	#hamitems a {
	  box-sizing: border-box;
	  display: block;
	  width: 100%;
	  border-top: 1px solid #333;
	}
   
	/* (B) SHOW HAMBURGER ICON */
	#hamnav label { 
	  display: inline-block; 
	  color: white;
	  font-style: normal;
	  font-size: 1.2em;
	  padding: 10px;
	}
  
	/* (C) TOGGLE SHOW/HIDE MENU */
#hamitems { 
	display: none; 
}
#hamnav input:checked ~ #hamitems { 
	display: block; 
}
  }
h1, h2, h3{
    font-family: molle;
}
img{
	display:grid;
	grid-gap:20px;
	border:10px solid white;
}

#plan{
	padding: 5rem 5rem 5rem 5rem;
	display:block;
}
#plan div>section{
  background-color: var(--teal);
  text-align:center;
  display: block;
  border-style: solid;
  border-width: 5px;
  border-color: var(--white);
  border-radius: 10px;
  
}
#plan section{
	margin-bottom: 50px;
	padding: 20px;
  }
#testimonials div>section{
	align-items:center;
}
#testimonials h4{
	font-weight:bold;
}
#testimonials q{
	font-style:italic;
}
#about{
	background:blue;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows:1fr 1fr;
}
#contact{
	display:grid;
	grid-template-columns:1fr;
	align-items:center;
	padding:50px;
	margin:10px;
}
#contact input{
	margin:10px;
	outline-style: solid;
    outline-color: #9B26B0;
}
@media screen and (min-width: 550px){
	header{
	  display: grid;
	  grid-template-columns:1fr 1fr 1fr 1fr;
	}
}